<ul class="nav nav-pills">
  <li><%= link_to "Log In", new_user_session_path %></li>
  <li class="active"><%= link_to "Sign Up", new_user_registration_path %></li>
  <li><%= link_to "Reset Password", new_user_password_path %></li>
</ul>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="form-horizontal">
    <fieldset>
      <legend>Sign up</legend>

      <%= devise_error_messages! %>

      <div class="control-group">
        <%= f.label :email %>
        <div class="controls"><%= f.email_field :email %></div>
      </div>

        <div class="control-group">
          <%= f.label :password %>
        <div class="controls"><%= f.password_field :password %></div>
      </div>

        <div class="control-group">
          <%= f.label :password_confirmation %>
        <div class="controls"><%= f.password_field :password_confirmation %></div>
      </div>

      <div class="form-actions"><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
    </fieldset>
  </div>
<% end %>
