{{#with favor}}
  <div class="well favor-display">
    <h2><span class="label label-info">{{points}} pts</span> {{title}}</h2> 

    <ul class="tags">
      {{#each tags}}
        {{view App.TagView tagBinding="this"}}
      {{/each}} 
    </ul>

    <p class="time">{{timeago}}</p>

    {{#if isOwner}}
      {{view App.AdminControlsView favorBinding="this"}}
    {{/if}}

  </div> 
  <div class="row">

    <div class="span8">
      <blockquote>{{{description}}}</blockquote>

      {{#unless isOpen}}
        {{#unless isTaken}}
          <hr />
          <div class="resolution">
            <h3>Resolution:</h3><br />
            {{#if isOwner}}
              {{#if isPending}}
                {{view App.FavorModerateView favorBinding="this"}}
              {{/if}}
            {{/if}}
            <blockquote>{{{resolution}}}</blockquote>
          </div>
        {{/unless}}
      {{/unless}}

    </div>

    <div class="span4">
      {{view App.FavorWorkView favorBinding="this"}}
    </div>

  </div>

  <div class="modal" id="resolution-modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Submit a resolution for this favor</h3>
    </div>
    <div class="modal-body">
      <textarea placeholder="Enter any necessary information or proof that you resolved this favor request here." id="favor-resolution" name="favor-resolution"></textarea>
    </div>
    <div class="modal-footer">
      {{#view Ember.Button favorBinding="this" class="btn btn-success" target="App.favorsController" action="submitWork"}}Submit{{/view}}
      <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    </div>
  </div>
{{/with}}
