{{#with favor}}
  <div class="container">
    <div class="well favor-display">
      <div class="favor-meta">
        <p class="label label-important">{{points}} pts</p>
        <p class="time">{{timeago}}</p>
      </div>
      <div class="favor-main">
        <h3>{{title}}</h3> 
        <ul class="tags">
          {{#each tags}}
            {{view App.TagView tagBinding="this"}}
          {{/each}} 
        </ul>
      </div>

      {{#if isOwner}}
        {{#unless isClosed}}
          {{view App.AdminControlsView favorBinding="this"}}
        {{/unless}}
      {{/if}}

    </div> 
  </div>
  <div class="callout">
    <div class="container">
      <div class="row">

        <div class="span8">
          <blockquote>{{{description_markdown}}}</blockquote>

          {{#unless isOpen}}
            {{#unless isTaken}}
              <hr />
              <div class="resolution">
                <h3>Resolution:</h3><br />
                {{#if isOwner}}
                  {{#if isPending}}
                    {{view App.FavorModerateView favorBinding="this"}}
                  {{/if}}
                {{/if}}
                <blockquote>{{{resolution_markdown}}}</blockquote>
              </div>
            {{/unless}}
          {{/unless}}

        </div>

        <div class="span4">
          {{#if App.user_id}}
            {{view App.FavorWorkView favorBinding="this"}}
          {{else}}
            <h2>Log in or sign up to help</h2>
            <hr />
            <p>If you want to help out with this task, you have to <a href="/users/sign_in">log in</a> or <a href="/users/sign_up">sign up</a> first. It only takes a few seconds!</p>
          {{/if}}
        </div>

      </div>
    </div>
  </div>

{{/with}}
