<%= form_for(@favor) do |f| %>
  <div class="form-horizontal">
    <fieldset>
      <legend>Post a new favor request</legend>
      <% if @favor.errors.any? %>
        <div class="alert alert-error">
          <p><strong><%= pluralize(@favor.errors.count, "error") %> prohibited this favor from being saved:</strong></p>

          <ul>
          <% @favor.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <label for="title">Title:</label>
        <div class="controls">
          <%= f.text_field :title, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <label for="description">Description:</label>
        <div class="controls">
          <%= f.text_area :description, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <label for="points">Points:</label>
        <div class="controls">
          <%= f.text_field :points, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save new favor</button>
        <a href="/" class="btn">Cancel</a>
      </div>
    </fieldset>
  </div>
<% end %>
