<%= form_for(@favor) do |f| %>
  <div class="form-horizontal">
    <fieldset>
      <legend>Favor request</legend>
      <% if @favor.errors.any? %>
        <div class="alert alert-error">
          <p><strong><%= pluralize(@favor.errors.count, "error") %> prohibited this favor from being saved:</strong></p>

          <ul>
          <% @favor.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label :title %>
        <div class="controls">
          <%= f.text_field :title, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description %>
        <div class="controls">
          <%= f.text_area :description, :class => 'input-xlarge', :rows => 10 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :points %>
        <div class="controls">
          <%= f.text_field :points, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :tag_list %>
        <div class="controls">
          <%= f.text_field :tag_list, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save favor</button>
        <a href="/" class="btn">Cancel</a>
      </div>
    </fieldset>
  </div>
<% end %>
