<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <div class="form-horizontal">
    <fieldset>
      <legend>Resend unlock instructions</legend>
      <%= devise_error_messages! %>

      <div class="control-group">
        <%= f.label :email %>
        <div class="controls"><%= f.email_field :email %></div>
      </div>

      <div class="form-actions"><%= f.submit "Resend unlock instructions", :class => "btn btn-primary" %></div>
    </fieldset>
  </div>
<% end %>
