<div class="container">
  <ul class="nav nav-pills">
    <li><%= link_to "Log In", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li class="active"><%= link_to "Reset Password", new_user_password_path %></li>
  </ul>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="form-horizontal">
      <fieldset>
        <legend>Reset your password</legend>

        <%= devise_error_messages! %>

        <div class="control-group">
          <%= f.label :email %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="form-actions"><%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %></div>
      </fieldset>
    </div>
  <% end %>
</div>
